<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>schoolManagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <h1>School Management</h1>
    </header>
    <main>
        <h2 id="title"></h2>


        <svg id="homeBtn" onclick="location.href='../index.html'" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9,22 9,12 15,12 15,22"></polyline>
        </svg>



        <div id="login">
            <input type="text" id="schoolId_login" placeholder="School Id" />
            <input type="password" id="password_login" placeholder="Password" />
            <button id="loginBtn" onclick="login()">Login</button>
            <p id="loginStatus"></p>
        </div>


        <div id="signUp">
            <input type="text" id="schoolId_signup" placeholder="School Id">
            <input type="password" id="schoolPassword_signup" placeholder="Password">
            <input type="text" id="schoolName_signup" placeholder="School Name">
            <input type="text" id="address_signup" placeholder="Address">
            <button id="signUpBtn" onclick="signUp()">Sign Up</button>
            <p id="signUpStatus"></p>
        </div>
    </main>

    <script src="../script/main.js"></script>
    <script src="../script/helper.js"></script>
    <script>
        window.onload = () => {
            let params = new URLSearchParams(window.location.search);
            let mode = params.get("mode");
            console.log(mode);
            $("#title").text(mode);

            if (mode === "login") {
                $("#login").show();
                $("#signUp").hide();
            } else {
                $("#signUp").show();
                $("#login").hide();
            }
        }
    </script>
</body>

</html>