<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>schoolManagement</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
     <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
     <header>
          <h1>School Management</h1>
     </header>

     <main>


          <svg id="homeBtn" onclick="location.href='./mainPage.html'" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
               <polyline points="9,22 9,12 15,12 15,22"></polyline>
          </svg>


          <button id="logOut" onclick="tryToLogOut()">Log Out</button>
          <div id="confirmLogOut">
               <div class="container">
                    <p>Are You really want to logOut</p>
                    <div>
                         <button onclick="logout()">confirm</button>
                         <button onclick="cancelLogOut()">cancel</button>
                    </div>
               </div>
          </div>

          <div id="options">
               <div onclick="viewStudents()">Students List</div>
               <div onclick="showAddStudent()">Add Student</div>
               <div >Exams</div>
          </div>

          <div id="studentTable">
               <h2>Students List</h2>
               <table id="studentsList"></table>
          </div>

          <form id="addStudent">
               <h2>Add Student</h2>
               <input type="text" id="name" placeholder="Name" minlength="3" />
               <input type="date" id="dob" placeholder="DOB" />
               <input type="date" id="doj" placeholder="DOJ" />
               <select id="std" placeholder="Standard">
                    <option value="I">1st</option>
                    <option value="II">2nd</option>
                    <option value="III">3rd</option>
                    <option value="IV">4th</option>
                    <option value="V">5th</option>
                    <option value="VI">6th</option>
                    <option value="VII">7th</option>
                    <option value="VIII">8th</option>
                    <option value="IX">9th</option>
                    <option value="X">10th</option>
                    <option value="XI">11th</option>
                    <option value="XII">12th</option>
               </select>

               <select id="gender" placeholder="Gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
               </select>
               <input type="text" id="accountNumber" placeholder="Account Number" minlength="12" maxlength="18" />
               <p id="addStudentResult"></p>
               <button type="submit" id="addStudentBtn">Add Student</button>
          </form>

          <div id="halfYearlyResult">
               <h2>Half Yearly Results</h2>
          </div>

          <div id="quartelyResult">
               <h2>Quartely Results</h2>
          </div>

          <div id="annualResult">
               <h2>Annual Results</h2>
          </div>
     </main>

     <script src="../script/main.js"></script>
     <script src="../script/helper.js"></script>
     <script src="../script/homePage.js"></script>
</body>

</html>


















<!-- <br>

          <input type="search" id="studentName" placeholder="Student Name" />
          <button id="btn2" onclick="getStudentByName()">click me</button>
          <p id="studentByName"></p>

          <br><br>

          <input type="text" id="name" placeholder="Name" minlength="5" />
          <input type="date" id="dob" placeholder="DOB" />
          <input type="date" id="doj" placeholder="DOJ" />
          <select id="std" placeholder="Standard">
               <option value="I">1st</option>
               <option value="II">2nd</option>
               <option value="III">3rd</option>
               <option value="IV">4th</option>
               <option value="V">5th</option>
               <option value="VI">6th</option>
               <option value="VII">7th</option>
               <option value="VIII">8th</option>
               <option value="IX">9th</option>
               <option value="X">10th</option>
               <option value="XI">11th</option>
               <option value="XII">12th</option>
          </select>

          <select id="gender" placeholder="Gender">
               <option value="M">Male</option>
               <option value="F">Female</option>
          </select>
          <input type="text" id="accountNumber" placeholder="Contact Number" minlength="10" maxlength="10" />
          <button id="btn3" onclick="addStudent()">Add Student</button> -->